*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #2d3436;
    background-color: white;
}


/* Navigation */
nav{
    padding: 1em 0;
    background-color: #2d3436;
}
.nav-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 50px; 
  background-color: #2d3436; 
  color: white;
}

/* Style logo */
.logo {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.logo h1{
  font-family: cursive;
}
.logo img {
    height: 50px; 
    border-radius: 4px;
}

/* Barre de navigation */
.navigation ul  {
    list-style: none;
    display: flex;
    gap: 20px; 
}

.navigation ul  li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Header */
header {
    padding: 100px 0;
    background: #f5f6fa;
    text-align: center;
}


header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* main */
main{
    margin-top: 5%;
}
.main-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 50px;
    display: flex;
    gap: 50px;
}

.main-container .competence{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.competence .skills{
    flex: 1;
}

.competence .niveau{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 11px;
}